/fullstack/node/task-manager/backend/node_modules
/fullstack/node/mkdir supplier-price-catalog/backend/node_modules
/fullstack/node/node-learning-projects/project2/node_modules
/fullstack/node/node-learning-projects/project3/backend/node_modules
