@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  margin:0;
  height : 100vh;
  background-color:salmon;
  font-family: "IBM Plex Mono", monospace;
  border:green 5px solid;
}

.container{
    display: flexbox;
    position: absolute;
    top: 50%;
    text-align: center;
    left:50%;
    align-items: center;
    border:skyblue 5px solid;
    transform: translate(-50%,-50%);
    
}

