body{
    display: flex;
    background-color: rgb(120, 32, 192);
    margin:0;
    height: 100vh;
    justify-content: center;
    align-items: center;

    
}

.container{
    background-color: rgba(240, 243, 242, 0.788);
    width: fit-content;
    max-width: 250px;
    min-width: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 5px 8px rgb(22, 20, 21) ;
    overflow: hidden;
}

.month-name{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding: 5px;
    background-color:rgba(241, 16, 155, 0.904) ;
}

.day-name{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: rgba(241, 7, 163, 0.658);
    padding: 5px 0px;
}

.date{
    font-size: 35px;
    margin: 0;
    padding: 10px 0px;
    
}

.year{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: rgba(236, 5, 159, 0.692);
    padding: 5px 0px;
}